/* Animacion fondo */
@keyframes animacion {
    0%{background-color:$beige;}
    50%{background-color:$purple;}
    100%{background-color:$beige;}
}
/* Animacion textos */
@keyframes animacion2 {
    0%{color:$purple;}
    50%{color:$beige;}
    100%{color:$beige;}
}