$redes:(
    instagram:#c35c96,
    twitter:#77adc2,
);

@each $redSocial, $color in $redes {
    .btn-#{$redSocial} {
        color:$beige;
        background-color:$color;
        border: 1px, black ;
        padding: 1%;
        margin-bottom: 3%;
    }
}

$localizarTexto:(
    izquierda: left,
    centro: center,
    derecha: right,
);

.contact-title {
    text-align: map-get($localizarTexto,centro);
}